@using ExploreBulgaria.Data.Models
@using ExploreBulgaria.Web.Common
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a>Здравей, @((User?.FirstName() + " " +  @User?.LastName()) ?? @User?.Identity?.Name)</a>
    </li>
    @if(User?.AvatarUrl() != null)
    {
        <li>
            <img src="@User.AvatarUrl()" class="rounded-circle img-fluid" style="width: 40px;" alt="Avatar" />
        </li>
    }   
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Profile">Профил</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Изход</a>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Register">Регистрация</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Login">Вход</a>
    </li>
}
