@using ExploreBulgaria.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name!</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Изход</a>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Register">Регистрация</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Login">Вход</a>
    </li>
}
