@{
    ViewData["Title"] = "Страницата не е намерена";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            Страницата, която търсите, не може да бъде намерена.
        </p>
        <a asp-controller="Home" asp-action="Index" class="main-button mt-5">Към Начало</a>
    </div>
</div>

