@model AttractionVisitorListViewModel

@{
    ViewData["Title"] = "Искам да посетя";
}

<div class="row mt-5">
    <div class="col-lg-3">
        <partial name="_ProfilePartial" />
    </div>
    <div class="col-lg-9">
        <div class="row">
            @foreach (var attraction in Model.Attractions)
            {
                <partial name="_VisitorAttractionPartial" model="attraction" />
            }
        </div>
    </div>
</div>

<div class="amazing-deals">
    <partial name="_PagingPartial" model="Model" />
</div>
