<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExploreBulgaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExploreBulgaria.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/307eb2164d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" asp-append-version="true" />
    <partial name="_ThemeLinksPartial" />
    @await RenderSectionAsync("Links", required: false)
</head>
<body>
    <partial name="_UserMessages" />
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                            @*<img src="~/theme/assets/images/logo.png" alt="">*@                           
                       </a>
                        <ul class="nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <li><a asp-area="" asp-controller="Attractions" asp-action="Add">Предложи обект</a></li>

                                @if (User.IsInRole(AdministratorRoleName))
                                {
                                    <li><a asp-area="Administration" asp-controller="Home" asp-action="Index">Панел</a></li>
                                }
                            }
                            <partial name="_LoginPartial" />
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md-9">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <aside class="col-md-3 bg-gradient">
                <vc:sidebar></vc:sidebar>
            </aside>
        </div>
    </div>

    <div class="call-to-action" style="margin-top: 0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Искаш да опознаеш България?</h2>
                    <h4>С нас имаш тази възможност</h4>
                </div>
                <div class="col-lg-4">
                    <div class="border-button">
                        <a asp-controller="Attractions" asp-action="All">Виж всички обекти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ExploreBulgaria - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Политика за поверителност</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
    <partial name="_ThemeScriptsPartial" />

    <script>
        $(".option").click(function () {
            $(".option").removeClass("active");
            $(this).addClass("active");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
