@using ExploreBulgaria.Data.Models
@using Microsoft.AspNetCore.Identity

@if (User.Identity?.IsAuthenticated ?? false)
{
    <li>
        <a>Здравей, @(User?.FirstName())</a>
    </li>
    @if(User?.AvatarUrl() != null)
    {
        <li>
            <img src="@User.AvatarUrl()" class="rounded-circle img-fluid" style="width: 40px;" alt="" />
        </li>
    }   
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Profile">Профил</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Изход</a>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Register">Регистрация</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Login">Вход</a>
    </li>
}
