@model EditUserProfileInputModel

<div class="container mt-5 mb-3 pt-4 d-flex justify-content-center">
    <div class="card p-4">
        <form asp-controller="Users" asp-action="EditProfile" method="post" enctype="multipart/form-data">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <span class="btn btn-secondary">
                    <img id="avatar" class="rounded-circle" src="@Model.AvatarUrl" height="100" width="100" />
                </span>
                <div class="inputWrapper mt-2 d-flex">
                     Качи аватар
                    <input asp-for="AvatarUrlUploaded" id="file" class="fileInput" onchange="getFile()" />
                </div>
                <span class="name mt-3 row">
                    <div>
                        <input asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>  
                </span>
                <div class="row">
                    <input class="idd" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>      
                <div class="row">
                    <input class="idd" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>                 
                <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                    <span class="idd1"><input asp-for="PhoneNumber" /></span>
                    <span><i class="fa-solid fa-mobile-screen-button"></i></span>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <input asp-for="AvatarUrlPreliminary" id="avatar-url" type="hidden" />
                <button type="submit" class="main-button d-flex mt-2">Запази</button>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                    <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span>
                    <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span>
                </div>
            </div>
        </form>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/edit-profile.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        console.log('hello')
        const getFile = function() {
            var files = document.getElementById('file').files;
            if (files.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function(event) {
                    document.getElementById('avatar').setAttribute('src', event.target.result);
                    document.getElementById('avatar-url').setAttribute('value', event.target.result);
                };

                fileReader.readAsDataURL(files[0]);
            }
        }
    </script>
}